<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [3]:
pd.date_range(start='2024-01-02',end='2024-01-20')

DatetimeIndex(['2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05',
               '2024-01-06', '2024-01-07', '2024-01-08', '2024-01-09',
               '2024-01-10', '2024-01-11', '2024-01-12', '2024-01-13',
               '2024-01-14', '2024-01-15', '2024-01-16', '2024-01-17',
               '2024-01-18', '2024-01-19', '2024-01-20'],
              dtype='datetime64[ns]', freq='D')

In [6]:
date = pd.date_range(start='2024-01-02',end='2024-01-20')

In [7]:
date

DatetimeIndex(['2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05',
               '2024-01-06', '2024-01-07', '2024-01-08', '2024-01-09',
               '2024-01-10', '2024-01-11', '2024-01-12', '2024-01-13',
               '2024-01-14', '2024-01-15', '2024-01-16', '2024-01-17',
               '2024-01-18', '2024-01-19', '2024-01-20'],
              dtype='datetime64[ns]', freq='D')

In [8]:
type(date)

pandas.core.indexes.datetimes.DatetimeIndex

In [9]:
df_date = pd.DataFrame(date)

In [10]:
df_date

            0
0  2024-01-02
1  2024-01-03
2  2024-01-04
3  2024-01-05
4  2024-01-06
5  2024-01-07
6  2024-01-08
7  2024-01-09
8  2024-01-10
9  2024-01-11
10 2024-01-12
11 2024-01-13
12 2024-01-14
13 2024-01-15
14 2024-01-16
15 2024-01-17
16 2024-01-18
17 2024-01-19
18 2024-01-20

In [11]:
df2=pd.DataFrame({"date":['2024-01-02', '2024-01-03', '2024-01-04']})

In [12]:
df2

         date
0  2024-01-02
1  2024-01-03
2  2024-01-04

In [22]:
df2['update_date'] = pd.to_datetime(df2['date'])

In [23]:
df2

         date update_date
0  2024-01-02  2024-01-02
1  2024-01-03  2024-01-03
2  2024-01-04  2024-01-04

In [25]:
df2.dtypes

date                   object
update_date    datetime64[ns]
dtype: object

In [27]:
df2['year'] = df2['update_date'].dt.year

In [28]:
df2

         date update_date  year
0  2024-01-02  2024-01-02  2024
1  2024-01-03  2024-01-03  2024
2  2024-01-04  2024-01-04  2024

In [29]:
df2['month'] = df2['update_date'].dt.month

In [30]:
df2

         date update_date  year  month
0  2024-01-02  2024-01-02  2024      1
1  2024-01-03  2024-01-03  2024      1
2  2024-01-04  2024-01-04  2024      1

In [31]:
df2['day'] = df2['update_date'].dt.day

In [32]:
df2

         date update_date  year  month  day
0  2024-01-02  2024-01-02  2024      1    2
1  2024-01-03  2024-01-03  2024      1    3
2  2024-01-04  2024-01-04  2024      1    4

In [35]:
time = pd.Timedelta(days=1,hours=5,minutes=55)

In [36]:
time

Timedelta('1 days 05:55:00')

In [37]:
dt=pd.to_datetime('2022-06-20')

In [38]:
dt

Timestamp('2022-06-20 00:00:00')

In [39]:
dt+time

Timestamp('2022-06-21 05:55:00')