<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Measure-Of-Central-Tendency" data-toc-modified-id="Measure-Of-Central-Tendency-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Measure Of Central Tendency</a></span><ul class="toc-item"><li><span><a href="#Mean" data-toc-modified-id="Mean-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Mean</a></span></li><li><span><a href="#Median" data-toc-modified-id="Median-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Median</a></span></li><li><span><a href="#Mode" data-toc-modified-id="Mode-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Mode</a></span></li></ul></li><li><span><a href="#Measure-of-Central-Tendency" data-toc-modified-id="Measure-of-Central-Tendency-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Measure of Central Tendency</a></span><ul class="toc-item"><li><span><a href="#Variance" data-toc-modified-id="Variance-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Variance</a></span></li><li><span><a href="#Standard-Deviation" data-toc-modified-id="Standard-Deviation-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Standard Deviation</a></span></li></ul></li><li><span><a href="#Covariance-and-Correlation" data-toc-modified-id="Covariance-and-Correlation-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Covariance and Correlation</a></span><ul class="toc-item"><li><span><a href="#Covariance" data-toc-modified-id="Covariance-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Covariance</a></span></li><li><span><a href="#Correalation" data-toc-modified-id="Correalation-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Correalation</a></span><ul class="toc-item"><li><span><a href="#Spearman-Rank-Correlation" data-toc-modified-id="Spearman-Rank-Correlation-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Spearman Rank Correlation</a></span></li><li><span><a href="#Pearson-Correlation" data-toc-modified-id="Pearson-Correlation-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Pearson Correlation</a></span></li></ul></li></ul></li></ul></div>

## Measure Of Central Tendency

### Mean

In [1]:
age =[12,13,14,21,24]

In [2]:
(12+13+14+21+24)/5

16.8

In [3]:
import numpy as np
import pandas as pd

In [4]:
np.mean(age)

16.8

In [5]:
weights=[45,34,55,76,45,35,89,98,75]

In [6]:
np.mean(weights)

61.333333333333336

In [7]:
weights=[45,34,55,76,45,35,89,98,75,1000]

In [8]:
np.mean(weights)

155.2

### Median

In [9]:
np.median(weights)

65.0

### Mode

In [10]:
from scipy import stats

In [11]:
stats.mode(weights)

ModeResult(mode=45, count=2)

## Measure of Central Tendency

### Variance

In [12]:
age_list=[23,43,23,56,74,32,68,98,45,32]

In [13]:
age_list_mean = np.mean(age_list)
age_list_mean

49.4

In [14]:
data = [[10,12,13],[34,23,45],[32,34,21]]

In [15]:
var=np.var(age_list)
var

541.64

In [16]:
df=pd.DataFrame(data,columns=["A","B","C"])

In [17]:
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [18]:
## Columnwise
df.var(axis=0)

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [19]:
## Row wise
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64

### Standard Deviation

In [20]:
std = np.std(age_list)
std

23.273160507331188

## Covariance and Correlation

In [21]:
# pip install seaborn

In [24]:
import seaborn as sns

In [37]:
sns.get_data_home()

'C:\\Users\\thang\\AppData\\Local\\seaborn\\seaborn\\Cache'

In [40]:
df = sns.load_dataset("healthexp")
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

### Covariance

In [42]:
import numpy as np

In [44]:
numeric_df = df.select_dtypes(include='number')

In [45]:
numeric_df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

### Correalation

#### Spearman Rank Correlation

In [47]:
numeric_df.corr(method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

#### Pearson Correlation

In [49]:
numeric_df.corr(method='pearson')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000